* {
    margin: 0;
    box-sizing: border-box;
    /* width: 500px; */
}
.container{
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: left;
    width: 700px;
    height: 600px;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.box-one{
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    /* width: 100px; */
    margin: 30px;
    /* width: 30px; */
    width: 300px;
}
.box-two{
    background-color: aquamarine;
    border: 1px solid black;
    text-align: center;
    margin: 30px;
    /* width: 30px; */
    box-sizing: border-box;
    padding: 20PX;
    width: 300px;
    margin-right: 40px;
}
img{
    border: 2px solid black;
    width: 100;
    height: 150px;
    margin-bottom: 20px;
}
p{
    border: 2px solid black;
}